extend layout

block content
    .inner
        .container
            .story-menu
                h2 Frequently Asked Questions
            .accordion
                .accordion-item
                    a What is ChaiBreak?
                    .content
                        p
                            | ChaiBreak is a platform for writers, across different genres and contexts. If you take fancy in writing, no matter what your expertise lies at, there's a place for you at ChaiBreak.
                .accordion-item
                    a Wait a second. Why should I write here rather than well established platforms?
                    .content
                        p
                            | Because we are an award winning publishing house, with citations all around the globe. Just kidding. Because we are a bunch of young people, right out of college, who would love you to have on board in our closely knit community of writers.
                .accordion-item
                    a Still not convinced. But whatever. How do I even write?
                    .content
                        p
                            | To be a member of our site, you have to undergo a rigorous procedure. Which would include giving your email ID and telling us a bit about yourself. However, if you want elevated privilege, you must link AADHAR with your account.
                .accordion-item
                    a What should I write?
                    .content
                        p
                            | We only accept articles written in archaic English, glorifying ancient civilizations. But you are welcome to defy rules and write about anything under the Sun that catches the readers' attention.
                .accordion-item
                    a Do you think your jokes are funny?
                    .content
                        p
                            | No.
                .accordion-item
                    a I'm not a writer. How can I help?
                    .content
                        p
                            | You're most welcome to be a lurker and read voraciously. If you want to suggest a new feature, report a bug, or help us build the website, you are encouraged to shoot us a mail.
                    